
@{
    ViewData["Title"] = "ForgetPassword";
}



@model ForgetPasswordViewModel

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="alert alert-info">Şifre yenileme linki e-postanıza gönderilecektir.</div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"].ToString()
            </div>
        }
        <hr />
        <div asp-validation-summary=ModelOnly class="alert alert-danger" role="alert"></div>
        <form  method="post">
            <div class="mb-3">
                    <label for="Email" class="form-label" asp-for="Email"></label>
                    <input value="mirza_ali@gmail.com" asp-for="Email" class="form-control">
                    <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <button type="submit" class="btn btn-primary">Giriş</button>
        </form>
    </div>
</div>